<header>
  <div class="small-container">
    <%= image_tag("conoce-a-tus-vecinos", class: "logo") %>
    <ul>
      <%= link_to "Saber más" %>
    </ul>
  </div>
</header>

<div class="small-container">
  <div class="col col-50">
    <%= image_tag ("android-iphone.png"), class: "android-iphone" %>
  </div>
  <div class="col col-50 description">
    <h4 class="title">Descarga gratis la app <br> y acércate a los vecinos de tu comunidad</h4>
    <center>
      <a class="btn blue big">App store</a>
      <a class="btn blue big">Google play</a>
    </center>
  </div>
</div>

<div class="full-container fondo-blanco">
  <div class="small-container">
    <h4>Identifica la comunidad de tus vecinos a través de tu código postal</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ipsum nulla, molestiae iste quia minus consectetur saepe natus facilis nemo tempore. Sunt, provident voluptas officia hic sequi dolore tempore minus?</p>
  </div>
</div>

<div class="full-container">
  <div class="small-container">
    <div class="col col-50">
      <img class="img1" src="/home/sambelmor/Documents/HTML-CSS/Curso HTML-CSS/static/media/feat1.jpeg" alt="imagen"/>
    </div>
    <div class="col col-50 text-content">
      <img src="/home/sambelmor/Documents/HTML-CSS/Curso HTML-CSS/static/media/img2.png" alt="imagen"/>
      <h3>Con HTML Y CSS puedes crear páginas página web no es ninguna ciencia, solo basta tu imaginación</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti possimus temporibus officiis voluptas quibusdam, ipsam incidunt voluptatem quos vel repellat perspiciatis molestiae delectus voluptatum nobis pariatur optio dignissimos, nam suscipit.</p>
    </div>
  </div>
</div>

<div class="full-container fondo-blanco">
  <div class="small-container">
    <div class="col col-50 text-content">
      <h3>Texto1</h3>
      <img src="/home/sambelmor/Documents/HTML-CSS/Curso HTML-CSS/static/media/img3.png" alt="imagen"/>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quo ad et quasi ratione alias assumenda totam rerum aspernatur nemo commodi quam officiis sapiente eum repellendus sequi fugiat, accusamus ut?</p>
    </div>
    <div class="col col-50">
      <img src="/home/sambelmor/Documents/HTML-CSS/Curso HTML-CSS/static/media/feat2.jpeg" alt="imagen">
    </div>
  </div>
</div>

<div class="full-container">
  <div class="small-container">
    <div class="col col-50 text-content">
      <img src="/home/sambelmor/Documents/HTML-CSS/Curso HTML-CSS/static/media/feat3.jpeg" alt="img"/>
    </div>
    <div class="col col-50">
      <h3>Explora, nunca te quedes con lo que sabes</h3>
      <img src="/home/sambelmor/Documents/HTML-CSS/Curso HTML-CSS/static/media/img4.png" alt="imagen"/>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum enim rem quasi deserunt excepturi ex mollitia! Incidunt, ratione temporibus quisquam ad id cupiditate, maiores mollitia rem earum omnis, quos deserunt.</p>
    </div>
  </div>
</div>

<footer>
  <div class="small-container">
    <ul class="col col-25">
      <li><a href="#inicio">Inicio</a></li>
      <li>Opción 2</li>
      <li>Opción 3</li>
      <li>Opción 4</li>
    </ul>
    <ul class="col col-25">
      <li><a href="#segunda">Segunda sección</a></li>
      <li><a href="https://google.com" target="_blank">Más información</a></li>
      <li>Opción 3</li>
      <li>Opción 4</li>
    </ul>
    <ul class="col col-25">
      <li>Opción 1</li>
      <li>Opción 2</li>
      <li>Opción 3</li>
      <li>Opción 4</li>
    </ul>
    <ul class="col col-25">
      <li>Opción 1</li>
      <li>Opción 2</li>
      <li>Opción 3</li>
      <li>Opción 4</li>
    </ul>
  </div>
</footer>
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15067.463879229004!2d-103.69995825!3d19.2446722!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1543105179593" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
